#
# lint.yaml
# Created by Perry Naseck on 6/28/21.
#
# Copyright (c) 2021, The CONIX Research Center
# All rights reserved.
#
# This source code is licensed under the BSD-3-Clause license found in the
# LICENSE file in the root directory of this source tree.
#

name: Lint
on: [push, pull_request]

jobs:
  markdown-link-check:
    name: Markdown Link Check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: gaurav-nelson/github-action-markdown-link-check@v1
  python-lint:
    name: Python lint ${{ matrix.name }} ${{ matrix.python-version }}
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]
        include:
          - { name: flake8,     cmd: flake8,                                  }
          - { name: pydocstyle, cmd: pydocstyle,                              }
          - { name: pylint,     cmd: pylint --extension-pkg-allow-list=orjson }
          - { name: isort,      cmd: isort --check-only                       }
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: ${{ matrix.python-version }}
      - uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-${{ matrix.python-version }}-pip-${{ hashFiles('**/requirements.txt','**/setup.py','**/pyproject.toml') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.python-version }}-pip-
      - name: Install Python Development Dependencies
        run: python -m pip install -e .[dev]
      - name: Run ${{ matrix.name }}
        run: python -m ${{ matrix.cmd }} arenarobot/
